# Gemini
GEMINI_API_KEY=AIzaSyCGFU3OZxQEv8wCvH0ET4EsN8g9EzJuAm8
GEMINI_MODEL=gemini-1.5-flash

# Algorand network
ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGOD_PORT=
ALGOD_TOKEN=
ALGOD_NETWORK=testnet

# Indexer
INDEXER_SERVER=https://testnet-idx.algonode.cloud
INDEXER_PORT=
INDEXER_TOKEN=

# Wallet / payment identity
PAYMENT_WALLET=TESTNET-AGENT-BUYER-WALLET-001

# Pinata / IPFS
PINATA_JWT=your_pinata_jwt
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs
